/* Configurações iniciais do css relacionadas a estrutura: */

/* Zerando no css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* Tamnho da fonte em porcentagem, porque ela vai ser configurada como unidade principal rem */
    /* o HTML esta com 62.5% que é 10px de 16px(100%) padrão do navegador  
    com isso 1.6rem(filha) x 10px(HTMLouBODY/62.5%) = 16px(filha)
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* 20px --> 2rem(filha) x 10px(HTML/62.5%) = 20px(filha => body) */
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
    /* Deixa a letra maiuscula */
    text-transform: uppercase;
}

h2{
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;

}

h6{
    font-size: 3.5rem;

}

a{
    text-decoration: none;
    color: inherit;
}

p{
    margin-bottom: 3rem;
}

.responsive-table{
    overflow: hidden;
    overflow-x: auto;
}

table{
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}

table caption{
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table thead th{
    background-color: var(--cinza-gray-color);
    color:var(--twitch-color);
}

table td, table th{
    /* Esse white-space faz não quebrar o texto. Obs: isso voce so usa quando a tabela
    não tem necessidade quebrar, se tem textos pequenos */
    white-space: nowrap;
    padding: 1rem;
    text-align: center;
    color:var( --primary-color);
    border: 0.1rem solid var(--twitch-color);
    background-color: var(--white-opacity-color);
}