/* Em vez importar a fonte pelo html: */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap'); */

/* Intro */
.intro-content{
    position: relative;
    /* top: -8rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap:var(--gap);
    min-height: 100vh;
}


.intro-text-content p a{
    background-color: var(--white-opacity-color);
    color: var(--twitch-color);
    transition: all 450ms ease-in-out;
}

.intro-text-content p a:hover{
    background-color: var(--twitch-opacity-color);
    color: var(--white-color);
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img{
    /* 100% do elemento pai dela */
    max-width: 100%;
    height: auto;
}

/* O QUE É A TWITCH */
.oqueeatwitch-content{
    max-width: 64rem;
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.oqueeatwitch-content p a{
    color: var(--twitch-color);
    transition: all 450ms ease-in-out;
}

.oqueeatwitch-content p a:hover{
    background-color: var(--twitch-opacity-color);
    color: var(--white-color);
}

/* QUANDO COMEÇOU A TWITCH */
.grid-one-content{
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-one-content p a{
    background-color: var(--white-opacity-color);
    color: var(--twitch-color);
    transition: all 450ms ease-in-out;
}

.grid-one-content p a:hover{
    background-color: var(--twitch-opacity-color);
    color: var(--white-color);
}


.grid-main-heading{
    margin-bottom: 1rem;
}

.grid-description{
    padding-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    /* Contador em css pra colocar os numeros com o before nos titulos*/
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 2.5rem;
    /* A posição relativa é para que o numero criado no before fique dentro
    do h3, no caso ele fica posicionado em realção ao meu h3 mesmo que o numero
    seja absoluto*/
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

/* Before é pra falar que esta antes do meu titulo */
.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top:-4rem;
    left: -2rem;
    /* 5deg é 5 graus */
    transform: rotate(5deg);
}   

/* MELHORES CANAIS */

.grid-one-content a h3{
    background-color: var(--white-opacity-color);
    color: var(--twitch-color);
    transition: all 450ms ease-in-out;
}

.grid-one-content a h3:hover{
    background-color: var(--twitch-opacity-color);
    color: var(--white-color);
}

.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    /* é pra fazer animação: rotação em elementos 3d */
    /* -Esquerda e +direita | -baixo e +cima */
    transform: translate(2%, 3%) scale(1.1) rotate(3deg);
}

.grid-two{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-two h3{
    font-size: 2.5rem;
    position: relative;
    padding-left: 7rem;
    padding-bottom: 2rem;
}

.grid-two h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top:-3.5rem;
    left: -0.5rem;
    /* 5deg é 5 graus */
    transform: rotate(5deg);
} 

/* NIVEIS */
#niveis-de-transmissao .grid-one-content h2{
    background-color: var(--white-opacity-color);
    color: var(--twitch-color);
    transition: all 450ms ease-in-out;
}

#niveis-de-transmissao .grid-one-content h2:hover{
    background-color: var(--twitch-opacity-color);
    color: var(--white-color);
}

/* RECURSOS DESBLOQUEADOS*/

.recursos-desbloqueados-content{
    max-width: 64rem;
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.recursos-desbloqueados-content p a{
    background-color: var(--white-opacity-color);
    color: var(--twitch-color);
    transition: all 450ms ease-in-out;
}

.recursos-desbloqueados-content p a:hover{
    background-color: var(--twitch-opacity-color);
    color: var(--white-color);
}

table td.has-checkmark {
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://www.twitch.tv/creatorcamp/assets/images/icons/icon-purple-check-v2.svg);
}

/* contato */
.contact-form{
    grid-column: span 2;
}

.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend{ 
    font-style: italic;
    font-size: 1.6rem;  
    margin-bottom: 3rem; 
}

.form-group{
    flex: 1 1 32rem;
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}

.form-group textarea{
    resize: vertical;
}

.form-group input,
.form-group textarea{
    border: none;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
    transition: all 300ms ease-in-out;
    border-radius: 1rem;
}

.form-group input:focus,
.form-group textarea:focus{
    box-shadow:0 0 1rem 0.2rem var(--twitch-color2);
}

.form-group button{
    border: 0.5rem solid var(--white-color);
    background: var(--white-opacity-color);
    color: var(--twitch-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 1rem;
}

.form-group button:hover{
    background: var(--twitch-opacity-color);
    color: var(--white-color);
}

.form-group ::placeholder{
    color: var(--cinza-escuro-color);
    text-align: start;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 3rem;
}
.redes-sociais{
    margin-left: 0.5rem;
}

.close-menu{
    display: none;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--twitch-color);
    border: 0.1rem solid var(--twitch-color);
}

@media (max-width: 1000px){
    .intro-content, .grid, .grid-two{
        grid-template-columns: 1fr;
    }

    .gallery-img{
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img{
        width: 100%;
    }

    .grid-one-content{
        display: block;
    }

    
    .menu{
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu-content{
        height: 100vh;
    }

    /* responsividade menu */
    .menu{
        display: none;
    }

    .close-menu-label::after{
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--twitch-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu{
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: ' × ';
    }

    .menu-spacing{
        display: none;
    }
}
